<?php
$aliases['local'] = array(
  'parent' => '@parent',
  'site' => '{{ project }}',
  'env' => 'local',
  'uri' => '{{ server_hostname }}',
  'root' => '/var/www/{{ project }}',
  'remote-host' => 'local.engage',
  'remote-user' => 'vagrant',
);